[Desktop Entry]
Type=Application
Name=VR Hotspot
Comment=Control VR Hotspot from the desktop and system tray
Exec=vrhotspot-flatpak --tray
Icon=io.github.josethevrtech.VRhotspot
Terminal=false
Categories=Network;
StartupNotify=true
